/*
wp-tab-widget.css
*/

.daisychain_widget_content {
    position: relative;
    border: 1px solid #e8e8e8; 
}
.daisychain_widget_content img {
    max-width: 100%;
    height: auto;
}
.daisychain_widget_content .tab_title a {
    color: #333333;
}
.daisychain_widget_content ul {
  margin-left: 0 !important; 
  margin-top: 0 !important;                             
}
.daisychain_widget_content ul.wpt-tabs li {
    list-style: none;
    display: block;
    width: 50%;
    float: left;
    text-align: center;
    margin: 0;
    padding: 0 !important;
}
.daisychain_widget_content ul.has-1-tabs li {
    width: 100%;
    float: none;
    margin: 0 auto;
}
.daisychain_widget_content ul.has-2-tabs li {
    
}
.daisychain_widget_content ul.has-3-tabs li {
    width: 33.33%;
}
.daisychain_widget_content ul.has-4-tabs li {
    width: 50%;
}
.daisychain_widget_content .has-4-tabs .tab_title.selected a {
    border-bottom: 1px solid #e8e8e8;
}
.daisychain_widget_content .has-4-tabs .tab_title:nth-child(3) a {
    border-left: 0;
}
.daisychain_widget_content .tab_title a {
    display: block;
    background: #f0f0f0;
    border-left: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    padding: 2px 0 4px;
    line-height: 2.4;
    text-decoration: none;
    position: relative;
    font-weight: bold;
}
.daisychain_widget_content .tab_title:first-child a {
    margin-left: 0;
    border-left: 0;
}
.daisychain_widget_content .tab_title.selected a {
    background: #fff;
    border-bottom: 1px solid #fff;
}
.daisychain_widget_content .inside {
    padding-top: 10px;
}
.daisychain_widget_content .tab-content li {
    list-style-type: none;
    float: left;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 11px 0;
    padding: 0px 15px 15px 15px;
    border-bottom: 1px solid #e8e8e8;
    text-align: left;
    color: #444;
    background: none;
    position: relative;
    line-height: 150% !important;
    height: auto !important;
}
.daisychain_widget_content .tab-content li:last-child {
    border: none;
    margin-bottom: 0;
}
.daisychain_widget_content .tab-content li:first-child {
    padding-top: 5px;
}

.wpt_thumb_small {
    float: left;
    margin-right: 12px;
    width: 60px;
    height: 60px;
    overflow: hidden;
}
.wpt_thumb_large {
    float: none;
    max-width: 100%;
    display: inline-block;
    margin-bottom: 4px;
    position: relative;
}
.daisychain_widget_content .entry-title {
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.daisychain_widget_content .wpt-postmeta, .wpt_comment_content, .wpt_excerpt {
    color: #999;
    font-size: 13px;
}
.daisychain_widget_content .wp-post-image {
    margin: 0 !important;
}

/* Comments */
.wpt_avatar {
    margin-right: 10px;
    float: left;
}
.wpt_comment_content p, .wpt_excerpt p {
    margin-bottom: 0;
}
.wpt_comment_meta {
    font-weight: bold;
}

/* Tags tab */
.daisychain_widget_content #tags-tab-content {
    padding-bottom: 10px;
}
.daisychain_widget_content #tags-tab-content ul {
    margin: 0;
    overflow: hidden;
    padding: 0 10px;
    text-align: center;
    font-size: 0;
    line-height: 0;
    background-image: none !important;
}
.daisychain_widget_content #tags-tab-content ul li {
    width: auto;
    color: #fff;
    margin-bottom: 0;
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 3px 3px 0 0;
    min-height: 20px !important;
    line-height: 20px !important;
    float: none;
    font-size: 13px;
}
.daisychain_widget_content #tags-tab-content ul li a {
    padding: 5px 7px;
    background: #f0f0f0;
    white-space: nowrap;
    display: block;
}

/* Pagination */
.daisychain_widget_content .wpt-pagination {
    margin: 0;
    width: 100%;
    padding-top: 0;
    padding-bottom: 15px;
    float: left;
}
.daisychain_widget_content .wpt-pagination a {
    margin: 0 15px;
    color: #999999 !important;
}
.wpt-pagination a.next {
    float: right;
}

/* Loading... */
.wpt-loading:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,0.8);
}
.clear {
    clear: both;
}