/*
  @title  KousourosLaw.com CSS File
  @author John Paul Barbagallo
*/

/*
colors:
top logo: #14343a
nav bkgd: #1a1818
ticker type: #8fc7da
blue bkgd: #eaf4f9;
active link: #2aadc8;

*/


* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: "Verdana", "Helvetica";
  font-size: 0.687em;
  line-height: 18px;
}

img {
  border: none;
  display: block;
}

h1, h2, h3, h4, h5 {
  line-height: 27px;
  letter-spacing: 0.025em;
}

a {
  color: #999;
  outline: none;
  text-decoration: none;
}

a:hover {
  color: #666;
}

.times {
  font-family: "Times New Roman";
  font-size: 12px;
  text-align: justify;
}

.times span.smallcaps {
  font-variant: small-caps;
  font-weight: bold;
}

/* Intro Splash */
#intro-splash {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #293e47;
  z-index: 999;
}

#logo-area {
  width: 100%;
  height: 270px;
  position: relative;
  top: 100px;
  background: #173238;
}

#logo-area img.splash-logo {
  margin: 0px auto;
  padding-top: 30px;
  width: 643px;
  opacity: 0;
  display: block;
}

#site-wrap {
  width: 100%
}

#content {
  width: 1024px;
  margin: 0px auto;
  background: #eaf4f9;
}

#header {
  background-color: #14343a;
  width: 100%;
  margin: 0px auto;
}

#header #top-logo-wrap {
  width: 1000px;
  margin: 0px auto;
}

#header #top-logo{
  position: relative;
  padding-top: 10px;
  left: 135px;
}

#header #navigation {
  width: 100%;
  height: 25px;
  background-color: #1a1818;
  margin-top: 20px;
}

#header #navigation ul {
  position: relative;
  width: 935px;
  top: 3px;
  margin: 0px auto;
}

#header #navigation ul li {
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  zoom:1; *display: inline; _height: 30px;
}

#header #navigation ul li a,
#header #navigation ul li a:hover {
  color: #fff;
  padding: 0  0 0 18px;
  margin: 0 15px 0 15px;
  background: transparent url(../images/nav_selected.gif) no-repeat 0 3px;
}

#header #navigation ul li a.last {
  margin-right: 0px;
}

#header #navigation ul li a.selected {
  color: #2aadc8;
  font-weight: bold;
}

#footer-wrap {
  height: 150px;
  width: 100%;
  margin: 0px auto;
  background: #FFF;
  border-top: 1px solid #000;
  color: #000;
  font-size: 12px;
}

#footer-wrap #footer {
  position: relative;
  padding: 25px 125px 0 0;
  width: 700px;
  margin: 0px auto;
}

#footer-wrap #footer #contact-info {
  width: 700px;
  border-bottom: 1px solid #439cb7;
  padding-bottom: 12px;
}

#footer-wrap #footer #contact-info span {
  padding-top: 3px;
  display: block;
}

#footer-wrap #footer #contact-info a.mail-link {
  background: transparent url(../images/arrow.gif) no-repeat 0 4px;
  padding-left: 12px;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
}

#footer-wrap #footer #contact-info a.mail-link:hover {
  color: #999;
}

#footer-wrap #footer #disclaimer {
  display: block;
  text-transform: uppercase;
  padding-top: 11px;
  font-weight: bold;
  font-size: 10px;
}

#hp-images-wrap {
  position: relative;
  margin: 0px auto;
  height: 290px;
  padding: 20px 0 5px 0;
  width: 598px;
}

.hp-slider1,
.hp-slider2,
.hp-slider3{
  display: inline-block;
  margin: 0px auto;
  padding-right: 25px;
  zoom:1; *display: inline; _height: 30px;
}

.hp-slider3.last {
  padding-right: 0px;
}

#ticker-wrap {
  background: #1a1818;
}

#ticker-wrap #ticker {
  list-style-type: none;
  padding: 14px 0;
  width: 770px;
  margin: 0px auto;
  color: #8fc7da;
  font-family: "Times New Roman";
  font-size: 22px;
  text-align: center;
}

#ticker-wrap #ticker li {
  line-height: 1em;
}

#index-lower-content {
  width: 760px;
  position: relative;
  left: 85px;
  padding-bottom: 40px;
}

div.hp-item {
  padding-top: 33px;
  padding-bottom: 25px;
}

div.hp-item.first {
  padding-top: 6px;
}

div.hp-item .title {
  position: relative;
  top: 2px;
  display: block;
  float: left;
  width: 210px;
}

div.hp-item .title img {
  float: right;
}

div.hp-item .hp-item-info {
  display: block;
  float: left;
  text-align: left  ;
  position: relative;
  left: 40px;
  font-size: 15px;
  width: 550px;
}

div.hp-item .hp-item-info.large {
  font-size: 16px;
  text-transform: uppercase;
}

div.clearfloat {
  width: 100%;
  clear: both;
}

div.clearfloat-line {
  width: 350px;
  clear: both;
  border-bottom: 1px solid #1a98b7;
  margin-left: 250px;
  padding-top: 22px;
  margin-bottom: 22px;
}

h3.headline {
  font-size: 24px;
  font-weight: normal;
  padding-left: 250px;
  line-height: 1.2em;
  letter-spacing: 0.02em;
}

#content #content-left {
  width: 780px;
  float: left;
  border-right: 1px solid #000;
}

#content #content-sidebar {
  float: right;
  width: 243px;
}

#content #content-left p {
  width: 620px;
  padding: 0 15px;
  line-height: 23px;
  font-size: 15px;
  text-indent: 25px;
}

#content #content-left p.page-description {
  padding: 0;
  text-indent: 0;
  font-size: 17px;
  margin-bottom: 35px;
}

#content #contact-info p.page-description {
  font-size: 14px;
}

#content #content-left p.page-description.small {
  font-size: 15px;
}

#content #content-left p.first {
  margin-top: 40px;
  text-indent: 0;
}

#content #content-left .article-wrap {
  padding: 25px 75px;
}

#content #content-left .float-left {
  float: left;
  margin: 15px 33px 15px 15px;
}

#content #content-sidebar h3 {
  text-transform: uppercase;
  padding: 6px 0 6px 13px;
  background: #2aadc8;
  margin-top: 85px;
  color: #FFF;
  font-size: 19px;
}

#content #content-sidebar ul {
  list-style: none;
}

#content #content-sidebar ul li {
  padding: 25px 0 4px 15px;
  text-transform: uppercase;
  font-size: 13px;
  width: 155px;
  font-weight: bold;
  line-height: 16px;
}

#content #content-sidebar ul li a {
  color: #000;
  display: block;
  cursor: pointer;
}

#content #content-sidebar ul li a:hover {
  color: #2AADC8;
}

#content #content-left .case-group h2 {
  text-transform: uppercase;
  color: #2aadc8;
  font-size: 22px;
  margin: 45px 0 10px 0;
}

#content #content-left .case-group.first h2 {
  margin-top: 0;
}

#content #content-left .case-group p {
  font-family: "Times New Roman";
  background: transparent url(../images/case_indicator.gif) no-repeat 0 3px;
  padding: 0;
  margin-bottom: 25px;
}

#content #content-left .case-group p strong {
  font-family: "Verdana";
}

#content #content-left .case-group p a {
  color: #0F7CC2;
}

#content #content-left .case-group p.case-group-desc {
  font-style: oblique;
  background: 0;
  margin-bottom: 25px;
  text-indent: 0;
}

#site-wrap #to-top {
  width: 150px;
  height: 35px;
  background: #333;
  position: fixed;
  top: -35px;
  left: 70%;
  opacity: 0.75;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
}

#site-wrap #to-top a {
  padding-top: 10px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  color: #FFF;
  text-align: center;
  display: block;
}

#content #content-left .testimonial {
  margin-bottom: 55px;
}

#content #content-left .testimonial p {
  font-size: 15px;
  text-indent: 0;
  font-style: oblique;
  width: 640px;
  padding: 0;
}

#content #content-left .testimonial p span {
  font-size: 18px;
  color: #2AADC8;
  font-style: normal;
}

#content #content-left .testimonial .person {
  text-align: right;
  margin-top: 12px;
  font-size: 16px;
  font-family: "Times New Roman";
  font-variant: small-caps;
}

#content #contact-info {
  width: 600px;
  margin: 25px 75px;
}

#content #contact-info div#contact-form-wrap {
  position: relative;
  width: 330px;
  padding: 35px 30px 35px 25px;
  border: 1px solid black;
}

#content #contact-info div#contact-form-wrap h3.success,
#content #contact-info div#contact-form-wrap h3.error{
  font-size: 20px;
  text-align: left;
  display: none;
}

#content #contact-info div#contact-form-wrap form#contactform input#fullname,
#content #contact-info div#contact-form-wrap form#contactform input#email {
  padding: 3px;
  margin-top: 2px;
  font-size: 13px;
  color: #000;
  width: 100%;
  border: 1px solid #2AADC8;
}

#content #contact-info div#contact-form-wrap form#contactform textarea#themessage {
  padding: 5px;
  margin-top: 3px;
  font-size: 13px;
  font-family: "Verdana", "Helvetica";
  color: #000;
  width: 99%;
  border: 1px solid #2AADC8;
}

#content #contact-info div#contact-form-wrap form#contactform fieldset {
  border: none;
  text-align: left;
}

#content #contact-info div#contact-form-wrap form#contactform fieldset a#submit-button {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 2px 5px;
  position: relative;
  top: 15px;
  border-bottom: 0;
  background: #2AADC8;
  text-transform: uppercase;
  color: #333;
  cursor: pointer;
  font-size: 14px;
}

#content #contact-info div#contact-form-wrap form#contactform fieldset a#submit-button:hover {
  font-weight: bold;
}

#content #contact-info div#contact-form-wrap form#contactform ol span {
  font-size: 15px;
}

#content #contact-info div#contact-form-wrap form#contactform ol li{
  color: #000;
  font-weight: normal;
  padding-bottom: 1.5em;
  list-style: none;
  text-transform: uppercase;
  font-size: 15px;
}

#content #contact-info div#contact-form-wrap form#contactform li#message-body {
  padding-bottom: 10px;
}

#content #contact-info div#contact-form-wrap form#contactform li#message-body span {
  font-size: 10px;
}

#content #contact-info div#contact-form-wrap form#contactform label.error {
  font-size: 10px;
  display: block;
  color: #FF0000;
  position: relative;
  margin-top: 4px;
}

#content #contact-info div#contact-info {
  width: 340px;
  position: relative;
  right: 85px;
  top: 20px;
  float: right;
}

#content #contact-info div#contact-info p {
  line-height: 20px;
  margin-bottom: 15px;
}

#content #contact-info div#contact-info p a {
  color: #4cc7ed;
  border-bottom: 0;
}

#content #contact-info .location {
  font-size: 14px;
  margin-bottom: 20px;
}

#content #contact-info .location ul {
  list-style: none;
  margin-top: 8px;
}

#content-left .media-container {
  width: 620px;
  border-top: 1px solid #000;
  clear: both;
}

#content-left .media-container h3 {
  color: #fff;
  background-color: #000;
  width: 170px;
  text-align: center;
}

#content-left div.media-group {
  width: 285px;
  border-bottom: 1px solid #000;
  margin-top: 30px;
  padding-bottom: 20px;
}

#content-left div.media-group.videos {
  width: 580px;
}

#content-left div.media-item {
  padding: 15px 0;
  font-size: 12px;
}

#content-left div.media-item.video {
  clear: both;
  padding-bottom: 0;
  margin-bottom: 20px;
  height: 100px;
}

#content-left div.media-item.video a.video-thumb {
  float: left;
  display: block;
  width: 150px;
  height: 98px;
}

#content-left div.media-item.video-desc {
  width: 400px;
  float: right;
}

#content-left div.media-item a {
  color: #0f7cc2;
}

#content-left div.media-item a:hover {
  text-decoration: underline;
}