/* Color scheme Pink
----------------------------------------------- */
html body {
  background-color: #b38184;       
}
body a,
body .post-entry .post-entry-headline a,
body #content .home-list-posts ul li a,
body .flexslider .slides li a {
  color: #b38184;       
}
body #top-navigation-wrapper,
body #wrapper-footer,
body #searchform .searchform-wrapper .send,
.js #top-navigation-wrapper .top-navigation .selectnav {
  background-color: #8c575a;                             
}
body #main-content-inner,
body #searchform .searchform-wrapper #s {
  border-color: #8c575a;                         
}
body .post-entry .read-more-button,
body input[type="submit"],
body input[type="reset"],
body .custom-button,
#wrapper #container .panel-row-style .origin-widget-button a {
  background-color: #c29ea0;                                   
}
body .menu-box ul ul {
  border-color: #c29ea0;                     
}
body .sidebar-widget a {
  color: #c29ea0;                       
}
body .post-entry .read-more-button:hover,
body .footer-signature,
body input[type="submit"]:hover,
body input[type="reset"]:hover,
body .custom-button:hover,
#wrapper #container .panel-row-style .origin-widget-button a:hover,
body #searchform .send:hover {
  background-color: #704648;                                         
}
body #top-navigation-wrapper,
body .top-navigation ul ul,
body #wrapper-footer,
body #footer .footer-widget .footer-headline,
.js #top-navigation-wrapper .top-navigation .selectnav {
  border-color: #704648;                             
}
body .footer-signature {
  border-color: #593739;                       
}
body .menu-box a:hover,
body .menu-box :hover > a,
body #searchform .searchform-wrapper #s {
  background-color: #f2dcdd;                          
}
body .highlight-text {
  background-color: #ffe8e9;                               
}
body .top-navigation a,
body .top-navigation a:visited,
body #footer a,
body #footer .footer-widget .footer-headline,
body .footer-signature .footer-signature-content a {
  color: #ffe8e9;                               
}